# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
venv/
env/

# DVC
.dvc/
data/raw/
data/processed/

# IDE
.vscode/
.idea/
MachineLearningRating_v3.txt
.dvc/.gitignore
.dvc/.gitignore
.dvc/dvc_data/sample.csv
conversion.log
src/safe_conversion.py
src/validate_data.py
data/MachineLearningRating_v3.csv
data/MachineLearningRating_v3_cleaned.csv
data/insurance_data_cleaned2.csv
data/insurance_data_cleaned.csv
.dvc/dvc_data/MachineLearningRating_v3.txt
.dvc/tmp/btime
.dvc/tmp/lock
